@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  width: 100%;
  height: 100%;
}

@layer components {
  /* card */
  .card {
    padding: 20px;
    border-radius: 16px;
    background-color: #1e1e1e;
    color: white;
  }

  .card-title {
    font-size: 16px;
    font-weight: 700;
    color: white;
  }

  /* typography */
  .text-t1 {
    font-size: 24px;
    line-height: 28px;
    font-weight: bold;
  }
  .text-t2 {
    font-size: 20px;
    line-height: 24px;
    font-weight: bold;
  }
  .text-t3 {
    font-size: 16px;
    line-height: 20px;
    font-weight: bold;
  }
  .text-t4 {
    font-size: 14px;
    line-height: 16px;
    font-weight: bold;
  }
  .text-bd1 {
    font-size: 16px;
    line-height: 20px;
  }
  .text-bd2 {
    font-size: 14px;
    line-height: 18px;
  }
  .text-bd3 {
    font-size: 12px;
    line-height: 16px;
  }
  .text-bd4 {
    font-size: 10px;
    font-weight: bold;
    line-height: 14px;
  }
  .text-btn1 {
    font-size: 16px;
    line-height: 16px;
    font-weight: bold;
  }
  .text-btn2 {
    font-size: 14px;
    line-height: 14px;
    font-weight: bold;
  }
}
